/*WHOLE DOCUMENT STYLING*/
html, body{
	margin: 0;
	max-width: 100%;
 	overflow-x: hidden;

}

::-webkit-scrollbar {
   	display: none; /*remove scrollbar*/
}

/*HEADER STUFF*/
header {
	background: black;
	color: white;
	height: 3em;
	padding: 5px 0px 0px 20px;
	border-bottom: 5px solid #FFCB00;
	font-size: 2em;
	max-height: 65px;
	-webkit-box-shadow: 0px 3px 10px #BFBFBF;
	box-shadow: 0px 3px 10px #BFBFBF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	position: fixed;
	width: 100%;
	top: 0;
}

#logo {
	width: 1.5em;
	float: left;
	margin-right: 15px;
}

/*MAIN CONTENT*/
main{
	padding-top: 75px;
}
main {
	padding: 75px 15px 0px 15px;

}
button i{
	font-size: 3em;
}

button {
	width: 100%;
}
form {
	padding: 15px;
}

#fact {
	height: 27px;
	background-color: #FFCB00;
	margin: 5px 0px 5px 0px;
}

/*FOOTER STUFF*/
footer {
	background: black;
	-webkit-box-shadow: 0px -3px 10px #BFBFBF;
	box-shadow: 0px -3px 10px #BFBFBF;
	color: white;
	position: fixed;
	width: 100%;
	bottom: 0;
	font-size: 1.5em;
	max-height: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

footer i {
	margin: 0 .4em 0 .4em;
}

footer a {
	color: white;
}

/*MEDIA QUERIES*/
@media (max-width: 320px) {
	footer{
		font-size: 25px
	}
}

/*FORM STYLING*/
